In [44]:
import pandas as pd

In [45]:
data1 = pd.Series(['1반','2반','3반','4반'])
data2 = pd.Series([1,0,0,4])

In [46]:
data1 = data1.append(data2, 'ignore_index = True')
#append -> series와 series를 연결하는 방법, 내부 인자에 다른 series를 넣어주면 세로로 더한다.

<ipython-input-46-98728015e052>:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data1 = data1.append(data2, 'ignore_index = True')

In [47]:
print(data1)

0    1반
1    2반
2    3반
3    4반
4     1
5     0
6     0
7     4
dtype: object

In [49]:
data2.describe()
#describe -> 숫자 data로 이루어진 series에서 여러 통계치들을 반환함

count    4.000000
mean     1.250000
std      1.892969
min      0.000000
25%      0.000000
50%      0.500000
75%      1.750000
max      4.000000
dtype: float64

In [24]:
data1 = pd.Series(['1반','2반','3반','4반','5반','5반','5반'])
data1 = data1.drop_duplicates()
print(data1)
#drop_duplicates : 중복된 값을 제거함

0    1반
1    2반
2    3반
3    4반
4    5반
dtype: object

In [30]:
a=data1.values
print(type(a))
print(a)
#values -> series를 numpy로 변환함. 패치된 버전에서는 get_values 대신 values만 허용됨

<class 'numpy.ndarray'>
['1반' '2반' '3반' '4반' '5반']

In [50]:
data1 = pd.Series([156,99,1000,4,1])


data1.sort_values()
#sort_values -> 숫자 데이터로 이루어진 series에서 값들을 크기 순으로 배열함

4       1
3       4
1      99
0     156
2    1000
dtype: int64

In [52]:
data1 = pd.Series([156,99,1000,4,1])


data1.sort_values(ascending = False)
#이런 식으로 내림차순 정렬도 가능하다.

2    1000
0     156
1      99
3       4
4       1
dtype: int64

In [53]:
data1 = pd.Series(['1반','2반','3반','4반'])
data2 = pd.Series([1,0,0,4])
data1 = data1.append(data2, 'ignore_index = True')

<ipython-input-53-bffb29985faa>:3: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data1 = data1.append(data2, 'ignore_index = True')

In [54]:
data1 = data1.to_frame()
data1
#to_frame -> series를 dataframe으로 변환한다.

    0
0  1반
1  2반
2  3반
3  4반
4   1
5   0
6   0
7   4

In [55]:
data1 = pd.Series([156,99,1000,4,1])
print(data1.isin([156]))
#is_in -> 내부에 해당 값이 있는지 확인하여 bool 값을 반환한다

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [37]:
def devider(a):
  return a/4


data1.apply(devider)
#apply-> 괄호 안에 함수를 넣어 series 내부 인자에 적용한다. agg와 비슷한 기능이다

0     39.00
1     24.75
2    250.00
3      1.00
4      0.25
dtype: float64

In [56]:
data1

0     156
1      99
2    1000
3       4
4       1
dtype: int64

In [57]:
data1.equals(data2)

False

In [58]:
data2 = data1

In [59]:
data1.equals(data2)

True

In [ ]:
#equals : 두 series가 완전히 동일한지 판단한다.